<div class="columns">
	<div class="column">
		<div class="columns">
			<div class="column">
				<div class="buttons">

				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<% @records.each do |record| %>
					<%= record.description %>
				<% end %>
			</div>
		</div>
	</div>
</div>