<div class="columns">
  <div class="column">
    <div class="columns">
      <div class="column">
        <%= render "/issue/tab" %>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <%= render "/layouts/updates" %>
      </div>
    </div>
  </div>
</div>