<div class="columns">
	<div class="column">
		<div class="columns">
			<div class="column">
				<%= @record.title %>
				<%= @record.description %>
			</div>
		</div>
		<div class="columns">
			<div class="column">

			</div>
		</div>
	</div>
</div>