<div class="columns">
  <div class="column">
    <div class="tabs">
      <ul>
        <li class="<%= current(view_project_path) %>"><%= link_to "Details", view_project_path, class: "" %></li>
        <li class="<%= current(view_project_updates_path) %>"><%= link_to "Updates", view_project_updates_path, class: "" %></li>
      </ul>
    </div>
  </div>
</div>