<div class="columns">
	<div class="column">
		<%= render "/admin/tab" %>

		<div class="columns">
			<div class="column">
				<% @users.each do |user| %>
				<%= user.email %>
				<% end %>
			</div>
		</div>
	</div>
</div>