<nav class="pagination is-centered" role="navigation" aria-label="pagination">
	<%= link_to "Previous", projects_list_path(page: @page - 1), class: "pagination-previous" %>
	<%= link_to "Next page", projects_list_path(page: @page + 1), class: "pagination-next" %>
</nav>